/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

.hero-body {
    padding: 0;
}

.container,
.title {
    height: 100px;
    margin-left: 50px;
    line-height: 100px;
}

.colums.is-centered {
    display: flex;
    justify-content: center;
}

.colums.is-5 {
    width: 500px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #39C08F;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.notification:not(:last-child) {
    margin-bottom: 0;
}

.colums.is-multiline {
    display: flex;
}

.colum.is-3 {
    margin-right: 20px;
    margin-bottom: 150px;
}

.user-title {
    font-size: 25px;
    line-height: normal;
}

a {
    color: #4a4a4a;
}

.content,
.is-size-4 {
    line-height: normal;
}

.iimage.is-128x128 {
    width: 100%;
    hight: 100%;
    border-radius: 50%;
}

